<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="dbConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=DataBase;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
